{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div class="details">
        <div class="maindetails">
            <div class="details1">
                <h1>Naresh Rawat</h1>
                <p>
                    Mobile No. 9773829487<br>
                    Email Id: nareshrawat112002@gmail.com<br>
                    Enrollment No. : 07827202721<br>
                    IP Id: IP210049<br>
                    Role : Developer<br>
                    Address : GN Group of Institutes
                    
                </p>
            </div>
            <div class="details2">
                <h1>Arya Prakash Shrivastav</h1>
                <p>
                    Mobile No. 9013469258 <br>
                    Email Id: aryaprakash1759@gmail.com <br>
                    Enrollment No. : 35327202721<br>
                    IP Id: IP210026<br>
                    Role : Tester <br>
                    Address : GN Group of Institutes
                </p>
            </div>
            <div class="details1">
                <h1>Madhurita Ghadia</h1>
                <p>
                Mobile No. 8076674313<br>
                Email Id: madhu8076674@gmail.com<br>
                Enrollment No. : 00327203121<br>
                IP Id: IP210086<br>
                Role : HR Analyst <br>
                Address : GN Group of Institutes
                </p>
            </div>
            <div class="details2">
                <h1>Janhvi Bhangale</h1>
                <p>
                Mobile No. 8368376335 <br>
                Email Id: j2750471@gmail.com<br>
                Enrollment No. : 35627202721<br>
                IP Id: IP210146<br>
                Role : Project Manager<br> 
                Address : GN Group of Institutes
                </p>
            </div>
        </div>
    </div>
{% endblock content %}