{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        
        <div class="title">
            <h3>NeuroCare AI</h3>
        </div>
        <div class="container1">
            <h1>Brain Tumor</h1>
            <h2>Detection</h2>
            <h4>"Precision in Every Scan, Care in Every Click"</h4>
        </div>
    </div>
    <hr class="hr">
    <div class="container2">
        <div class="container3">
            <div class="step">
                <h2>How it Works</h2>
            </div>
            <div class="totalsteps">
                <div class="steps1">
                    <h3>Data Acquisition</h3>
                </div>
                <div class="steps2">
                    <h3>Data Preprocessing</h3>
                </div>
                <div class="steps1">
                    <h3>Model Evaluation</h3>
                </div>
                <div class="steps2">
                    <h3> Prediction & Classification </h3>
                </div>
                <div class="steps1">
                    <h3>Result Display</h3>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% comment %} {% block footer %}
    <footer>
        <div class="foot">
            <div class="foot1">
                <div class="foot2"><p>Brain Tumor Detection</p></div>
                <div class="foot2"><p>contact@gmail.com</p></div>
            </div>
        </div>
    </footer>
{% endblock footer %} {% endcomment %}