{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div class="block">
        <div class="block1">
            <p class="para">NeuroCare AI* is an advanced brain tumor detection system developed using deep learning techniques to aid in early and accurate diagnosis of brain tumors. Leveraging the power of the VGG16 convolutional neural network and a robust dataset of over 7,000 MRI images, NeuroCare AI classifies brain scans into four distinct categories: *Glioma, **Meningioma, **Pituitary Tumor, and **No Tumor*.
            </p>
        </div>
        <div class="block2">
            <p class="para">The project addresses the limitations of traditional manual MRI analysis by providing a fast, automated, and highly accurate solution. Through key steps such as image preprocessing, segmentation, feature extraction, and classification, our system helps streamline the diagnostic process for medical professionals, ultimately supporting better treatment decisions and improving patient outcomes.
            </p>
        </div>
        <div class="block1">
            <p class="para">NeuroCare AI is designed to be user-friendly and scalable, demonstrating the impactful role that AI can play in modern healthcare. The project stands as a significant contribution toward integrating intelligent systems in medical imaging and diagnosis.
            </p>
        </div>
    </div>
{% endblock content %}