{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <div class="login">
        <div class="login1">
            <div class="login2">
                <h2>Login</h2>
            </div>
            <div class="login3">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                    <h5 style="margin-top:15px">Don't have any account? <a href="{% url 'register' %}" style="margin-left:8px" > Register</a></h5>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}